*
!.gitignore

!content/*
!static/*
!templates/*

!config.toml
!cv.typ
!flake.lock
!flake.nix
!input.css
!Makefile
!netlify.toml
!package-lock.json
!package.json
!postcss.config.js
!tailwind.config.js

static/output.css
static/cv.pdf
