*

.direnv/
node_modules/
public/
result/
target/

.pre-commit-config.yaml
static/output.css

!config.toml
!.envrc
!flake.lock
!.gitignore
!tailwind.config.js

!*.css
!*.html
!*.ico
!*.jpg
!*.json
!*.md
!*.nix
!*.png
!*.txt
!*.woff
!*.woff2
!*.xml
!*.yml

!.github/
!.github/**/

!content/
!content/**/

!nix/
!nix/**/

!dev-flake/
!dev-flake/**/

!src/
!src/**/

!static/
!static/**/

!templates/
!templates/**/
