{% extends "base.html" %}

{% block content %}
  <div class="w-full flex flex-col gap-y-3 min-[420px]:gap-y-4 lg:gap-y-5 p-2 mb-12 max-w-md aspect-[1.75/1]">
    <h1 class="w-min text-2xl min-[420px]:text-3xl lg:text-4xl tracking-tight text-nowrap">
      {{ config.extra.author }}
    </h1>
  
    <div class="flex flex-col gap-y-2 min-[420px]:gap-y-3 lg:gap-y-4 text-sm/4 min-[420px]:text-base/5 lg:text-lg/6 tracking-tight">
      {{ section.content | safe }}
    </div>

    <nav class="w-min flex gap-x-2 min-[420px]:gap-x-3 lg:gap-x-4">
    {% for link in config.extra.links %}
      <a class="text-sm min-[420px]:text-base lg:text-lg tracking-wide underline font-medium underline-offset-2" href="{{ link.path }}">
        {{ link.name }}
      </a>
    {% endfor %}
    </nav>
  </div>
{% endblock content %}
